.container {
  display: grid;

  height: 100vh;
}

.mainView {
  width: 100%;
  height: calc(100vh - 24px);

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.fileInput {
  width: 100%;

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  align-self: flex-end;
}
